.h2-client {
font-size: 26px;
}
.client-div {

  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-colum {
  padding: 80px;
    margin: 0 auto;
    width: 1200px;
   
}
.svg-clent {
  margin: 5px;
height: 80px;
 border: solid 2px #afb1b8;
 fill: #afb1b8;
 transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
 border 250ms cubic-bezier(0.4, 0, 0.2, 1);
border-radius: 5px;

}
.svg-clent:hover {
  fill: #2196F3;
  border: 2px solid #2196F3 ;
}