.clients__heading {
font-size: 26px;
}
.clients__title {

  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__wrapper {
  padding: 80px;
    margin: 0 auto;
    width: 1200px;
   
}
.clients__item {
  margin: 5px;
height: 80px;
 border: solid 2px $afb;
 fill: $afb;
 transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
 border 250ms cubic-bezier(0.4, 0, 0.2, 1);
border-radius: 5px;

}
.clients__item:hover {
  fill: $button-bg-color;
  border: 2px solid $button-bg-color ;
}