.features__list {
 
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}
.features__item {
   display: flex;
   flex-direction: column;
  width: 270px;
  height: 248px;
margin: 20px;
@include hover-card;

}
.features__item:hover {
transform: translate(-10px, -10px);
  box-shadow: 10px 7px 5px 1px rgba(0, 0, 0, 0.384);
}.features__title {
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 5px;
}
.features__item::before {
 margin: 0 auto;
 
 margin-top: 10px;
  content: "";
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
   background-position: center;
   
   
}
.features__text {
  color: $gray;
  margin-top: 10px;
  margin-left: 5px;
}
.features__item:nth-child(1)::before {
 background-image: url(../img/antenna1.jpg);
  
}
.features__item:nth-child(2)::before {
  background-image: url(../img/clock1.jpg);
}

.features__item:nth-child(3)::before {
  background-image: url(../img/diagram1.jpg);
}

.features__item:nth-child(4)::before {
  background-image: url(../img/astronaut1.jpg);
}
.portfolio__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
   flex-basis: calc((100% - 20px) / 3);
}
.portfolio__card {
 @include hover-card;
 box-shadow:  3px 2px 12px 1px;
   
}
.portfolio__card:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 7px 5px 1px rgba(0, 0, 0, 0.384);
}
.portfolio__card:nth-child(1) {
  @extend %flex;
  gap: 10px;
  order:  1;
}
.portfolio__card:nth-child(2) {
  @extend %flex;
  order: 5;
}
 .portfolio__card:nth-child(3) {
  @extend %flex;
  order: 9;
}
.portfolio__card:nth-child(4) {
 @extend %flex;
  order: 1;
}
.portfolio__card:nth-child(5) {
 @extend %flex;
  order: 5;
}
.portfolio__card:nth-child(6) {
  @extend %flex;
  order: 9;
}
.portfolio__card:nth-child(7) {
 @extend %flex;
  order: 1;
}
.portfolio__card:nth-child(8) {
 @extend %flex;
  order: 5;
}
.portfolio__card:nth-child(9) {
  @extend %flex;
  order: 9;
}
.portfolio__card {
  margin: 50px;
}
.portfolio__category {
  margin-left: 10px;
}
.portfolio__title {
   margin-left: 10px;
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(33, 150, 243, 0.9);
  color: $footer-text-color;
  opacity: 0;
  transform: translateY(100%);
   transition: opacity 250ms ease, transform 250ms ease;
}
.portfolio__card:hover .portfolio__overlay {
  opacity: 1;
  transform: translateX(0);
  
}