.section-main-ul {
 
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}
.section-main-li {
   display: flex;
   flex-direction: column;
  width: 270px;
  height: 248px;
margin: 20px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
 box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.section-main-li:hover {
transform: translate(-10px, -10px);
  box-shadow: 10px 7px 5px 1px rgba(0, 0, 0, 0.384);
}.section-main-h3 {
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 5px;
}
.section-main-li::before {
 margin: 0 auto;
 
 margin-top: 10px;
  content: "";
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
   background-position: center;
   
   
}
.p-main {
  color: #757575;
  margin-top: 10px;
  margin-left: 5px;
}
.section-main-li:nth-child(1)::before {
 background-image: url(../img/antenna1.jpg);
  
}
.section-main-li:nth-child(2)::before {
  background-image: url(../img/clock1.jpg);
}

.section-main-li:nth-child(3)::before {
  background-image: url(../img/diagram1.jpg);
}

.section-main-li:nth-child(4)::before {
  background-image: url(../img/astronaut1.jpg);
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
   flex-basis: calc((100% - 20px) / 3);
}
.section-one-div {
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
 box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 box-shadow:  3px 2px 12px 1px;
   
}
.section-one-div:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 7px 5px 1px rgba(0, 0, 0, 0.384);
}
.section-one-div:nth-child(1) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  order:  1;
}
.section-one-div:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 5;
}
 .section-one-div:nth-child(3) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 9;
}
.section-one-div:nth-child(4) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 1;
}
.section-one-div:nth-child(5) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 5;
}
.section-one-div:nth-child(6) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 9;
}
.section-one-div:nth-child(7) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 1;
}
.section-one-div:nth-child(8) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 5;
}
.section-one-div:nth-child(9) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 9;
}
.section-one-div {
  margin: 50px;
}
.p-card {
  margin-left: 10px;
}
.section-one-h3 {
   margin-left: 10px;
}
.thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(33, 150, 243, 0.9);
  color: white;
  opacity: 0;
  transform: translateY(100%);
   transition: opacity 250ms ease, transform 250ms ease;
}
.section-one-div:hover .overlay {
  opacity: 1;
  transform: translateX(0);
  
}