.team__title {
 display: flex;

justify-content: center;
align-items: center;
width: 1170px;
}
.team__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
width: 1170px;
gap: 40px;
}
.team__card {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
 box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow:  3px 2px 12px 1px
  
}
.team__card:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 7px 5px 1px rgba(0, 0, 0, 0.384);
}
.section-it-p {
    
   justify-content: center;
   align-items: center;
}

.team__social-item {
   display: flex;
    justify-content: center;
    align-items: center;
 fill:$afb;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
   transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-item:hover {
  fill: $header-bg-color;
  background-color: $button-bg-color;
}
.team__socials {
    display: flex;
}
.team__name {
  margin-left: 10px;
}
.team__position {
  margin-left: 10px ;

}
.services__list {
  display: flex;
 
}
.team__wrapper {
  
  width: 1170px;
  margin-left: 20px ;
}