.section-it-div {
 display: flex;

justify-content: center;
align-items: center;
width: 1170px;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
width: 1170px;
gap: 40px;
}
.item-div {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
 box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow:  3px 2px 12px 1px
  
}
.item-div:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 7px 5px 1px rgba(0, 0, 0, 0.384);
}
.section-it-p {
    
   justify-content: center;
   align-items: center;
}

.cirkle {
   display: flex;
    justify-content: center;
    align-items: center;
 fill: #afb1b8;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
   transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cirkle:hover {
  fill: var(--header-bg-color);
  background-color: var(--button-bg-color);
}
.comand-circle {
    display: flex;
}
.section-it-h3 {
  margin-left: 10px;
}
.p-section-it {
  margin-left: 10px ;

}
.div-colum {
  display: flex;
 
}
.rov {
  
  width: 1170px;
  margin-left: 20px ;
}