.section-img-one {
  z-index: -1;
  width: 370px;
 height: 294px;
}
.p-img {
position: relative;
font-size: 14px;
font-weight: bold;
bottom: 88px;
display: flex;
height:70px;
z-index: 3;
color: #ffffff;

align-items: center;
justify-content: center;
background-color: #2f303ac4;
}
.section-img-div {
 
margin: 0 auto;
 
 display: flex;
 flex-direction: column;
}
.section-img-h2 {
  display: flex;
  justify-content: center;
   

}
.section-div-img {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
 box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 20px;
 
  height: 295px;
}
.section-div-img:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 7px 5px 1px rgba(0, 0, 0, 0.384);
}