.services__image {
  z-index: -1;
  width: 370px;
 height: 294px;
}
.services__caption {
position: relative;
font-size: 14px;
font-weight: bold;
bottom: 88px;
display: flex;
height:70px;
z-index: 3;
color: $footer-text-color;

align-items: center;
justify-content: center;
background-color: $f-color;
}
.services__wrapper {
 
margin: 0 auto;
 
 display: flex;
 flex-direction: column;
}
.services__title {
  display: flex;
  justify-content: center;
   

}
.services__item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
 box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 20px;
 
  height: 295px;
}
.services__item:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 7px 5px 1px rgba(0, 0, 0, 0.384);
}