@import "./scss/base/variables";
@import "./scss/base/base";
@import "./scss/base/container";
@import "./scss/layout/header";
@import "./scss/layout/footer";
@import "./scss/sections/hero";
@import "./scss/sections/featores";
@import "./scss/sections/work";
@import "./scss/sections/team";
@import "./scss/sections/clients";
@import "./scss/components/buttons";
@import "./scss/components/modal";
@import "./scss/components/forms";
@import "./scss/components/icons";