.div-footer {
  display: flex;
  flex-direction: column;
}

.div-footer-svg {
 
 

  display: flex;
}
.footer-one-p {
  color:#ffffff77 ;
  margin: 6px;
}
.footer-one-h4 {
  margin: 4px;
}
.footer-p-svg {
 margin-left: 10px;
  height: 10px;
}
.input-futr {
  background-color:#2F303A;
  border: #757575 solid 1px;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  outline: none;
  color: #757575;
}
.input-div-footer {
  
  margin-top: 50px;
}