.div-footer {
  display: flex;
  flex-direction: column;
}

.footer__socials-list {
 
 

  display: flex;
}
.footer__contact {
  color:$gray-fff7;
  margin: 6px;
}
.footer__address {
  margin: 4px;
}
.footer__socials-title {
 margin-left: 10px;
  height: 10px;
}
.footer__subscribe-input {
  background-color:$foter-bg-color;
  border: $gray solid 1px;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  outline: none;
  color: $gray;
}
.footer__subscribe {
  
  margin-top: 50px;
}