header {
  
  height: 90px;
}
.header__menu-link {
  position: relative;
  height: 30px;

}
.header__menu-link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
 background-color: $button-bg-color;
   
   transition:  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   transform: scale(0);
 transform-origin: right;
}
.header__menu-link:hover::after {
background-color: $button-bg-color;
transform: scale(1);
 transform-origin: left;
}

.header__contact-icon:hover {
fill: $color-blue;
}
.header__menu-item {
 display: flex;
  margin-left: 20px;

  height: 20px;  

}
.header__contact{
display: flex;
  transition:
  fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
  fill:$gray ;
}
.header__contact:hover{
  fill: $color-blue;
}
.header__contacts{
  display: flex;
  justify-content: end;
 align-items: center;
}
.header__menu-link{
  color: $text-color;
  text-decoration: none;
 font-size: 16px;
font-weight: bold;
 transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact {
  display: flex;
  margin-right: 20px;
  
    transition: fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
   fill:$gray ;
}
.header__contact:hover {
fill: $color-blue;
}
.header__contact-text {
  margin-left: 5px;
    color: $gray;
    text-decoration: none;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-icon {
  
  
  width: 18px;
  height: 18px;
}