header {
  
  height: 90px;
}
.header-a {
  position: relative;
  height: 44px;

}
.header-a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
 background-color: #2196F3;
   
   transition:  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   transform: scale(0);
 transform-origin: right;
}
.header-a:hover::after {
background-color: #2196F3;
transform: scale(1);
 transform-origin: left;
}

.svg-header:hover {
fill: var(--color-blue);
}
.header-li {
 display: flex;
  margin-left: 20px;

  height: 20px;  

}
.header-twitter{
display: flex;
  transition:
  fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
  fill:#757575 ;
}
.header-twitter:hover{
  fill: var(--color-blue);
}
.div-header{
 height: 1px;
 margin-top: 40px;
  width: 1200px;
  display: flex;
  justify-content: end;
 align-items: center;
}
.header-a {
  color: var(--text-color);
  text-decoration: none;
 font-size: 16px;
font-weight: bold;
 transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.envelope {
  display: flex;
  margin-right: 20px;
  
    transition: fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
   fill:#757575 ;
}
.envelope:hover {
fill: var(--color-blue);
}
.fone {
  margin-left: 5px;
    color: #757575;
    text-decoration: none;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.twiter {
  
  
  width: 18px;
  height: 18px;
}