
.hero__button{
  border-radius: 10px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.modal__submit {
  margin: 0 auto;
   height: 50px;
   width: 200px;
   border-radius: 5px;
   border: none;
   font-size: 16px;
   
}
.modal__submit-wrapper {
  display: flex;
  
  height: 20px;
}

.footer__button {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  margin-top: 80px;
  margin-left: 20px;
}
.footer__button-icon {
  width: 24px;
  height: 24px;
margin-left: 5px;
  fill: $button-text-color;
}
.footer__button-text {
  font-size: 16;
  font-weight: bold;
}
.portfolio-filter__button--active {
  width: 60px;
}
.portfolio-filter__button:hover {
  background-color: $button-bg-color;
  color: $button-text-color;

}
.portfolio-filter__button {
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  height: 30px;
  border-radius: 5px;
  background-color: $footer-text-color;
  color: $black;
  font-weight: bold;
  transition:   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   animation-duration: 2s;
}