.border-svg {
  display: flex;
  align-items: center;
border: 1px solid #21212160;
border-radius: 5px;
height: 40px;
margin-top: 0;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
 fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-glas {
  height: 30px;
  width: 400px;
  border: none;
  outline: none;  
   margin-left: 5px;
}
.border-svg:focus-within  {
   fill: #2196F3; 
}
.border-svg:focus-within {
 border-color: #2196F3; 
}
.p-coment {
   color: #757575;
    margin-bottom: 0;
}
.input-coment {
 width: 480px;
  border: none;
border-radius: 5px;
  outline: none; 
   padding: 10px;
  
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-coment:focus {
   border-color:  #2196F3; 
}
.order-glas {
  margin-top: 0;
border: 1px solid #21212160;
  height: 120px;
  border-radius: 5px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-glas:focus-within {
   border-color:  #2196F3; 
}
.check-box  {
 width: 20px;
 height: 20px;

    background-color: #2196F3;

}
.check-box:checked {
  color: #ffffff;

}
.glas-p {
  font-size: 20px;
font-weight: bold;
text-align: center;
}


.p-input {
  color: #757575;
  margin-bottom: 0;
}


.okey {
 display: flex;
 color: #21212185;
 
   margin-top: 15px;
}
.text-check {
  display: flex;
  margin-left: 20px ;
}
.a-check {
  position: relative;
  top: 17px;
  left: 10px;
  color: #2196F3;
  
 
}
.li-check {
   list-style: none;
   
font-weight: bold;
}
.check {
 
  height: 18px;
  margin-top: 15px;
  
}