.modal__input-wrapper {
  display: flex;
  align-items: center;
border: 1px solid $color;
border-radius: 5px;
height: 40px;
margin-top: 0;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
 fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input {
  height: 30px;
  width: 400px;
  border: none;
  outline: none;  
   margin-left: 5px;
}
.modal__input-wrapper:focus-within  {
   fill: $color-blue; 
}
.modal__input-wrapper:focus-within {
 border-color: $color-blue; 
}
.modal__comment-label {
   color: $gray;
    margin-bottom: 0;
}
.modal__comment {
 width: 480px;
  border: none;
border-radius: 5px;
  outline: none; 
   padding: 10px;
  
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment:focus {
   border-color:  $color-blue; 
}
.modal__comment-wrapper {
  margin-top: 0;
border: 1px solid $color;
  height: 120px;
  border-radius: 5px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment-wrapper:focus-within {
   border-color:  $color-blue; 
}
.modal__checkbox-input  {
 width: 20px;
 height: 20px;

    background-color: $color-blue;

}
.modal__checkbox-input:checked {
  color: $header-bg-color;

}
.modal__title {
  font-size: 20px;
font-weight: bold;
text-align: center;
}


.modal__label {
  color: $gray;
  margin-bottom: 0;
}


.modal__agreement {
 display: flex;
 color: #21212185;
 
   margin-top: 15px;
}
.modal__agreement-text {
  display: flex;
  margin-left: 20px ;
}
.modal__agreement-link {
  position: relative;
  top: 17px;
  left: 10px;
  color: $button-bg-color;
  
 
}
.modal__agreement-item {
   list-style: none;
   
font-weight: bold;
}
.modal__checkbox {
 
  height: 18px;
  margin-top: 15px;
  
}