.footer__social-icon {

  width: 20px;
  height: 20px;
  margin: 10px;
  fill: $footer-text-color;
}
.footer__socials {
    
   width: 250px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin-left: 40px;
}.header__contact-icon {
  width: 18px;
  height: 18px;
   transition:
  fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
  
}.clients__list {
display: flex;
  justify-content: center;
} .team__social-icon {
  height: 22px;
  width: 22px;
}
.footer__social-item {
  background-color: $color-fff;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 7px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  
 background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-item:hover {
  background-color:$button-bg-color ;
}
.modal__icon {
  height: 18px;
  width: 18px;
  margin-left: 5px;
}