.svg-footer-img {

  width: 20px;
  height: 20px;
  margin: 10px;
  fill: #ffffff;
}
.footer-svg {
    
   width: 250px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin-left: 40px;
}.svg-header {
  width: 18px;
  height: 18px;
   transition:
  fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
  
}.client-svg {
display: flex;
  justify-content: center;
} .svg-comand {
  height: 22px;
  width: 22px;
}
.svg-back {
  background-color: #ffffff11;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 7px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  
 background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-back:hover {
  background-color:#2196F3 ;
}
.svg-input {
  height: 18px;
  width: 18px;
  margin-left: 5px;
}