.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
 transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.modal-backdrop--hidden {
  opacity: 0;
  pointer-events: none;
 
   visibility: hidden;
}
.modal-backdrop.modal-backdrop--hidden .modal {
   transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 500px;
  min-height:600px;
  padding: 15px;
  background-color: $header-bg-color;
  color: $black;
  transform: translate(-50%, -50%) scale(1);
   border-radius: 7px;
  transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1),
              opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close {
 background-color: $header-bg-color;
 border: $header-bg-color;
 color: $text-color;
  top: 10px;
  margin-left:450px;
  cursor: pointer;
  
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover {
  background-color: $header-bg-color;
 
 
}