.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
 transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
 
   visibility: hidden;
}
.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 500px;
  min-height:600px;
  padding: 15px;
  background-color: white;
  color: black;
  transform: translate(-50%, -50%) scale(1);
   border-radius: 7px;
  transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1),
              opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
 background-color: white;
 border: white;
 color: #212121;
  top: 10px;
  margin-left:450px;
  cursor: pointer;
  
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover {
  background-color: #ffffff;
 
 
}