body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 300;
}
button {
  background-color: $button-bg-color;
  color: $button-text-color;
   transition:
  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
  background-color: $button-hover-bg-color;
}
header {
  background-color: $header-bg-color;
}
footer {
  background-color: $foter-bg-color;
  color: $footer-text-color;
}
span {
  color: $color-blue;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
ul {
  display: flex;
 
  list-style: none;
  align-items: center;
margin-top: 30px;
}
a:hover {
  color: $color-blue;
}
.no-scroll {
  overflow: hidden;
}
