body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 300;
}
button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
   transition:
  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
  background-color: var(--button-hover-bg-color);
}
header {
  background-color: var(--header-bg-color);
}
footer {
  background-color: var(--foter-bg-color);
  color: var(--footer-text-color);
}
span {
  color: var(--color-blue);
}
h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
ul {
  display: flex;
 
  list-style: none;
  align-items: center;
margin-top: 30px;
}
a:hover {
  color: var(--color-blue);
}
.no-scroll {
  overflow: hidden;
}
