.container {
  width:  100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width:480px) {
  
  .features__list {
 flex-direction: column;
  }
  .features__item {
    width: 450px;
  }
  .header__menu {
    flex-direction: column;
    width: 70px;
    margin-left: 0;
  margin-bottom: 30px;
  margin-top: 0;
  }
  .header__menu-item {
    justify-content: center;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 5px;
  }

  
  .header__logo  {
    font-size: 27px;
    margin-top: 30px;
    margin-right: 0;
  }
   .header__contacts {
    flex-direction: column;
   margin-left: 40px;
   margin-bottom: 0;
   margin-top: 80px;
   height: 1px;
  }
  .header__contact-icon {
  margin-top: 5px;
  
  }
 .hero__title {
  margin-left: 40px;
  margin-bottom: 40px;
 }
 .services__list {
  flex-direction: column;
 }
 .team__list {
   flex-direction: column;
  width: 150px;
 margin-left: 50px;
 }
 .team__card {
  width: 450px;
  height: 622px;
  
 }
 .team__photo {
 
  width: 450px;
  height: 460px;
 }
 .team__name , .team__position {
 text-align: center;
 }
 .team__socials {
  height: 50px;
  width: 250px;
 margin: 0 auto;
 }
 .clients__title {
  width: 450px;
  text-align: center;
margin-left: 0;
 }
 .clients__list {
  flex-wrap: wrap;
  width: 450px;
margin-left: 0;
 }
 .clients__item {
width: 210px;
height: 92px;
flex: 1 1 calc(50% - 10px);
 }
 .clients__wrapper {
  width: 450px;
 padding-bottom: 20px;
 }
 .footer__container-double {
 display: flex;
 flex-direction: column;
text-align: center;
 }
 .div-footer {
  text-align: center;
  width: 450px;
 }
 .footer__socials {
  
  display: flex;
justify-content: center;
 }
 .footer__social-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
width:360px;
 }
 .footer__socials-list {
   justify-content: center;
 }
 
 .footer__subscribe-button {
  margin-left: 100px;
 }

}

@media screen and (max-width:768px){
.header__contacts {
  flex-direction: column;
  margin-top: 70px;
  margin-left: 60px;
  gap: 5px;
height: 1px;
}
.hero__title {
  width: 400px;
  margin-left: 40px;
  margin-bottom: 50px;
}
.features__item {
    flex-wrap: wrap;
   width: 354px;
   height: 224px;
}
.features__list {
  
   flex-wrap: wrap;
}
.services {
  display: none;
}
.team__list {
  flex-wrap: wrap;
}
.team__card {
  width: 320px;
  height: 536px;
  
}
.team__photo {
  width: 320px;
  height: 374px;
}
.team__name , .team__position {
 text-align: center;
 }
 .team__socials {
  height: 50px;
  width: 250px;
 margin: 0 auto;
 }
 .clients__list {
  flex-wrap: wrap;
 }
 .clients__item {
 width: 226px;
 }
 .footer__container-double {
  display: flex;
  flex-wrap: wrap;
 }

 .portfolio__list {

 }
 .portfolio__card {
 width: 100px;
     margin: 0;   
padding: 0;
 }
}
@media (min-width:1200px){
  .header__contacts {
 margin-left: 100px;
 }
 .footer__container-double {
  display: flex;
 }
 .portfolio__list {
  justify-content: center;
  flex-wrap: wrap;
 }
 .portfolio__card {
  width: calc(33.333% - 20px);
  margin: 0;    
  width: 200px;              
}
}


