@mixin hover-card {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@mixin modal-border {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}