
$background-color: #f5f5f5;
$text-color: #212121;
$button-bg-color: #2196f3;
$button-text-color: #ffffff;
$button-hover-bg-color: #188ce8;
$header-bg-color: #ffffff;
$foter-bg-color: #2f303a;
$footer-text-color: #ffffff;
$color-blue: #2196f3;
$foter-bg-color: #2f303a;
$footer-text-color: #ffffff;
$color:#21212160;
$gray:#757575;
$black:#000000;
$color-fff:#ffffff11;
$gray-fff7:#ffffff77;
$afb:#afb1b8;
$f-color: #2f303ac4; 